@forward './theme.scss';

body {
    margin: 0;
    color: var(--el-text-color-primary);

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--el-text-color-placeholder);
        border-left: 1px solid var(--el-border-color);

        &:hover {
            background-color: var(--el-text-color-secondary);
        }
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: var(--el-bg-color);
        border-left: 1px solid var(--el-border-color);
    }

    --main-frame-width: calc(min(60rem, 100vw - 2rem));
}

.el-progress-bar__innerText {
    color: var(--el-text-color-primary);
}
